

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Sans-serif;
}.top-bar{
    padding: 1rem 0;
}
.inner-page {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    min-height: 200px;
}

